.dark {
  color: var(--mantine-color-gray-5);
  transition: color 0.2s ease-in-out;
}

.light {
  color: var(--mantine-color-gray-7);
  transition: color 0.2s ease-in-out;
}

.dark:hover {
  color: var(--mantine-color-red-6);
}

.light:hover {
  color: var(--mantine-color-red-6);
}

.selected {
  color: var(--mantine-color-red-6);
}
